@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

    var currentPath = Context.Request.Path.Value?.ToLower();
    var category = Context.Request.Query["category"].ToString().ToLower();
}

<nav class="bg-gray-50 border-b border-gray-200 fixed w-full z-10 top-0">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between h-16 items-center">

            <div class="flex items-center">

                <button type="button"
                    class="inline-flex items-center justify-center p-2 rounded-md text-gray-500    hover:bg-gray-200 focus:outline-none lg:hidden"
                    id="mobile-menu-button">
                    <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16" />
                    </svg>
                </button>


                <a href="/" class="flex items-center ml-2 lg:ml-0 !text-black">
                    <img src="/images/logo.png" alt="Logo" class="w-8 h-8">
                    <span class="ml-2 font-semibold">BlogEra</span>
                </a>
            </div>


            <div class="hidden lg:flex items-center justify-center space-x-8 py-2">
                <a href="/"
                    class="@(currentController == "Home" ? "!text-blue-500 bg-gray-200" : "!text-black") hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium">Home</a>
                <a href="/blogs"
                    class="@(currentController == "Blogs" ? "!text-blue-500 bg-gray-200" : "!text-black") !text-black hover:bg-gray-200 rounded-md px-3 py-2 text-sm font-medium transition-colors duration-150">Blogs</a>


                <div class="relative">
                    <button id="categories-dropdown-button"
                        class="px-3 py-2 text-sm font-medium flex items-center hover:!bg-gray-200 rounded-md focus:outline-none transition-colors duration-150 @(currentPath == "/filter" ? "!text-blue-500 bg-gray-200" : "!text-black")">
                        Categories
                        <svg class="ml-1 h-4 w-4 rotate-chevron" id="categories-chevron"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                    <div id="categories-dropdown-menu"
                        class="categories-dropdown origin-top-left absolute left-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-10">
                        <a href="/filter?category=technology"
                            class="!text-black block px-4 py-2 text-sm hover:bg-gray-200 transition-colors duration-150 @(currentPath == "/filter" && category == "technology" ? "!text-blue-500 bg-gray-200" : "!text-black")">Technology</a>
                        <a href="/filter?category=fashion"
                            class="!text-black block px-4 py-2 text-sm hover:bg-gray-200 transition-colors duration-150 @(currentPath == "/filter" && category == "fashion" ? "!text-blue-500 bg-gray-200" : "!text-black")">Fashion</a>
                        <a href="/filter?category=sports"
                            class="!text-black block px-4 py-2 text-sm hover:bg-gray-200 transition-colors duration-150 @(currentPath == "/filter" && category == "sports" ? "!text-blue-500 bg-gray-200" : "!text-black")">Sports</a>
                        <a href="/filter?category=politics"
                            class="!text-black block px-4 py-2 text-sm hover:bg-gray-200 transition-colors duration-150 @(currentPath == "/filter" && category == "politics" ? "!text-blue-500 bg-gray-200" : "!text-black")">Politics</a>
                        <a href="/filter?category=international"
                            class="!text-black block px-4 py-2 text-sm hover:bg-gray-200 transition-colors duration-150 @(currentPath == "/filter" && category == "international" ? "!text-blue-500 bg-gray-200" : "!text-black")">International</a>
                    </div>
                </div>

                @* <a href="/community"
                   class="@(currentController == "Community" ? "!text-blue-500 bg-gray-200" : "!text-black") !text-black px-3 py-2 text-sm hover:bg-gray-200 rounded-md font-medium transition-colors duration-150">Community</a> *@
                <a href="/contact"
                    class="@(currentController == "Contact" ? "!text-blue-500 bg-gray-200" : "!text-black") !text-black px-3 py-2 text-sm hover:bg-gray-200 rounded-md font-medium transition-colors duration-150">
                    Contact
                    Us
                </a>
                <a href="/about"
                    class="@(currentController == "About" ? "!text-blue-500 bg-gray-200" : "!text-black") !text-black px-3 py-2 text-sm hover:bg-gray-200 rounded-md font-medium transition-colors duration-150">About</a>
            </div>


            <div class="flex items-center">
                <div class="relative">
                    @* <partial name="_LoginSignup" /> *@
                    <!-- OR -->
                    @*<partial name="_ProfileDropdown" />*@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>

        <partial name="_MobileNavbar" />

    </div>
</nav>