@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/X.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<div>
    @* <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form> *@
    <div class="min-h-screen flex flex-col items-center justify-center">
        <div class="py-6 px-4">
            <div class="grid md:grid-cols-2 items-center gap-6 max-w-6xl w-full">
                <div class="max-md:mt-8">
                    <img src="https://readymadeui.com/login-image.webp"
                         class="w-full aspect-[71/50] max-md:w-4/5 mx-auto block object-cover" alt="login img" />
                </div>

                @*<div asp-validation-summary="ModelOnly" class="text-red-700"></div>*@

                <div class="border border-slate-300 rounded-lg p-6 max-w-md shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] max-md:mx-auto">
                    <form class="space-y-4" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="mb-6">
                            <h3 class="text-slate-900 text-3xl font-semibold">Sign Up</h3>
                            <p class="text-slate-500 text-sm mt-4 leading-relaxed">
                                Sign up to your account and
                                explore a world of possibilities. Your journey begins here.
                            </p>
                            <div asp-validation-summary="ModelOnly" class="text-red-700"></div>
                        </div>

                        <div>
                            <label asp-for="Input.FullName" class="text-slate-800 text-sm font-medium mb-2 block">Your Name</label>
                            <div class="relative flex items-center">
                                <input asp-for="Input.FullName" type="text" required
                                       class="w-full text-sm text-slate-800 border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600"
                                       placeholder="Enter user name" autocomplete="username" aria-required="true" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                     class="w-[18px] h-[18px] absolute right-4" viewBox="0 0 24 24">
                                    <circle cx="10" cy="7" r="6" data-original="#000000"></circle>
                                    <path d="M14 15H6a5 5 0 0 0-5 5 3 3 0 0 0 3 3h12a3 3 0 0 0 3-3 5 5 0 0 0-5-5zm8-4h-2.59l.3-.29a1 1 0 0 0-1.42-1.42l-2 2a1 1 0 0 0 0 1.42l2 2a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42l-.3-.29H22a1 1 0 0 0 0-2z"
                                          data-original="#000000"></path>
                                </svg>
                                <span asp-validation-for="Input.FullName" class="text-red-700"></span>
                            </div>
                        </div>
                        <div>
                            <label asp-for="Input.Email" class="text-slate-800 text-sm font-medium mb-2 block">Email</label>
                            <div class="relative flex items-center">
                                <input asp-for="Input.Email" type="email" required
                                       class="w-full text-sm text-slate-800 border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600"
                                       placeholder="Enter email" autocomplete="email" aria-required="true" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                     class="w-[18px] h-[18px] absolute right-4 top-1/2 -translate-y-1/2 cursor-pointer"
                                     viewBox="0 0 24 24">
                                    <path d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z" />
                                </svg>
                                <span asp-validation-for="Input.Email" class="text-red-700"></span>
                            </div>
                        </div>
                        <div>
                            <label asp-for="Input.Password" class="text-slate-800 text-sm font-medium mb-2 block">Password</label>
                            <div class="relative flex items-center">
                                <input asp-for="Input.Password" type="password" required
                                       class="w-full text-sm text-slate-800 border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600"
                                       placeholder="Enter password" autocomplete="new-password" aria-required="true" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                     class="w-[18px] h-[18px] absolute right-4 cursor-pointer" viewBox="0 0 128 128">
                                    <path d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                                          data-original="#000000"></path>
                                </svg>
                                <span asp-validation-for="Input.Password" class="text-red-700"></span>
                            </div>
                        </div>
                        <div>
                            <label asp-for="Input.ConfirmPassword" class="text-slate-800 text-sm font-medium mb-2 block">Confirm Password</label>
                            <div class="relative flex items-center">
                                <input asp-for="Input.ConfirmPassword" type="password" required
                                       class="w-full text-sm text-slate-800 border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600"
                                       placeholder="Confirm password" autocomplete="new-password" aria-required="true" />
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                                     class="w-[18px] h-[18px] absolute right-4 cursor-pointer" viewBox="0 0 128 128">
                                    <path d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                                          data-original="#000000"></path>
                                </svg>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-red-700"></span>
                            </div>
                        </div>

                        @* <div class="flex flex-wrap items-center justify-between gap-4">
                    <div class="flex items-center">
                        <input id="remember-me" name="remember-me" type="checkbox"
                            class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-slate-300 rounded" />
                        <label for="remember-me" class="ml-3 block text-sm text-slate-500">
                            Remember me
                        </label>
                    </div>

                    <div class="text-sm">
                        <a href="jajvascript:void(0);" class="text-blue-600 hover:underline font-medium">
                            Forgot your password?
                        </a>
                    </div>
                </div> *@

                        <div class="!mt-10">
                            <button id="registerSubmit" type="submit"
                                    class="w-full shadow-xl py-2.5 px-4 text-[15px] font-medium tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
                                Sign up
                            </button>
                            <p class="text-sm !mt-6 text-center text-slate-500">
                                Already have an account <a href="/Identity/Account/Login"
                                                           class="text-blue-600 font-medium hover:underline ml-1 whitespace-nowrap">
                                    Login
                                    here
                                </a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @* <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a
                                href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                        class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                        title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div> *@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
